.container__p{
    height: 31rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.artwork__line{
    margin: 1rem 0;
}
.artwork__title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: x-large;
    margin-left: 3rem;
    margin-top: 1rem;
}
.artwork__text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: larger;
    margin-left: 1rem;
}

.artwork__img{
    max-width: 300px;
    max-height: 300px;
    margin-left: 3rem;
}


  
  
  
  