.museum__icon{
    width: 3.5rem;
    height: 3.5rem;
}
.popup {
    width: 10%;
    height: auto;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.68);
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 2px 4px rgb(201, 199, 199);
  }
  .popup ul {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: medium;
    list-style-type: none;
    padding: 0;
  }
  .popup li {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px #dad8d8de;
    cursor: pointer;
    margin: 1rem 0;
    display: flex;
    align-items: center;
  }
  .image-popup {
    cursor: pointer;
  }